<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</div>

<article class="about">
    <h2>¿Qué podemos hacer por ti?</h2><br>
<p>Somos una empresa dedicada a prestar servicios energéticos de optimización en puntos de suministros de luz y gas en todo el territorio local</p>
    <b>Nuestro principal objetivo es el ahorro eficiente y económico de nuestros clientes año tras año</b>
</article>
<div class="parallax"><div class="txt">
    AHORRO EFICIENTE EN TU FACTURA AÑO TRAS AÑO
</div></div>
<br>
<br>
<article class="about">
    <h2>¿Por qué elegirnos?</h2><br>
    <b>Nuestros años de experiencia en el sector y la confianza de todos y cada uno de nuestros clientes nos proporciona gran solvencia y hace que seamos una de las asesorías con mayor cartera de clientes a nivel nacional.</b>
</article>
<br>
<article class="about">
    <h2>No encontrarás un mejor precio</h2>
</article>

