<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</div>
<div class="container">
    <img src="../../../assets/img/italy-2098343_1920-1920x960.jpg" alt="Avatar" class="image" style="width:100%">
   <div class="textoaparece">
       <h2>TRABAJA CON NOSOSTROS</h2>
       <p>AHORRA EN TUS FACTURAS</p>
   </div>
    <div class="middle">
        <div class="text">Nuestro objetivo, su ahorro</div><br>
        <p><a href="tel:+34969532762">LLAMA YA!</a></p></div>
</div>
<br>
<br>
<article class="about">
<h1>¿Quienes somos?</h1>
    <p>Somos una empresa dedicada a prestar servicios energéticos de optimización en puntos de suministros de luz y gas en todo el territorio nacional.</p></article>
<hr>
