

<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</div>

<article class="about">
    <h1>¿Como trabajamos?</h1><br>
    <p>Somos una asesoria energetica, operamos principalmente en territorio nacional con una gran variedad de clientes.
        Colaboramos de manera directa con los más grandes establecimientos conocidos en la capital, de la misma forma
        con cualquier negocio e incluso con comunidades de vecinos</p>
</article>
<article class="about">
    <h1 class="tx1">Planes de negocio</h1><br>
    <p>Estos son los distintos tipos de servicios personalizados, que ofrecemos a nuestros clientes a medida.</p><br>
    <p>Mediante nuestros servicios buscamos ofrecer la mejor solución energética y económica para nuestros clientes</p>
</article>

<div class="boxesContainer">

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>MERCADO ENERGÉTICO</h3>
                <p>Ver más...</p>
                <strong>&#x21bb;</strong>
            </div>
            <div class="back">
                <h3>Información</h3>
                <p>Asesoramiento de mercado energético y sus variantes en precios y comercializadoras</p>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>LÍNEAS ELECTRICAS</h3>
                <p>Ver más...</p>
                <strong>&#x21bb;</strong>
            </div>
            <div class="back">
                <h3>Información</h3>
                <p>Asesoramiento especializado en optimización de líneas eléctricas mediante dispositivos de medidas de
                    ahorro</p>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>ESTUDIOS DE MERCADO</h3>
                <p>Ver más...</p>
                <strong>&#x21bb;</strong>
            </div>
            <div class="back">
                <h3>Información</h3>
                <p>Asesoramiento personalizado en estudios potenciales anuales</p>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="card">
            <div class="front">
                <h3>HIDROCARBUROS</h3>
                <p>Ver más...</p>
                <strong>&#x21bb;</strong>
            </div>
            <div class="back">
                <h3>Información</h3>
                <p>Asesoramiento de mercado de hidrocarburos y sus variantes en precios y comercializadoras</p>
            </div>
        </div>
    </div>
</div>
<!--.boxesContainer-->